nz-header {
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.search-container {
  flex: 1;
  max-width: 500px;

  .search-input {
    width: 100%;
  }
}
