<nz-header>
  <div class="header-content">
    <div class="placeholder"></div>
    <div class="search-container">
      <input
        #searchInput
        nz-input
        type="text"
        placeholder="Search attachments...(⌘+F)"
        [ngModel]="searchTerm()"
        (ngModelChange)="searchTerm.set($event)"
        class="search-input"
      />
    </div>
    <div class="btn-container">
      <button class="add-attachment-button" nz-button nzType="primary" (click)="onAddClick()">
        Add Attachment 
        <span class="subtext">(⌘+N)</span>
      </button>
    </div>
  </div>
</nz-header>
